# core
.DS_Store
node_modules
.env
.env*.local

# other
*.db
private/*
lib/git
archive.ts
output.md
redis/*
wiki/*
bun.lockb
seed
packages/git
packages/other
deno
docs/private-todo.md
dist
run.ts
wip.json
wip.md
bun.lockb
*.gz
packages/ts-utils
.flox
