/nvim/plugged/
/sublime/WakaTime.sublime-settings
/sublime/oscrypto-ca-bundle.crt
/sublime/Package Control.cache
/sublime/Package Control.merged-ca-bundle
/sublime/Package Control.user-ca-bundle
/sublime/Package Control.last-run
