{:templates {:launch "osascript -e 'tell application \"Alfred 3\" to run trigger \"launch%s\" in workflow \"yqrashawn.workflow.launcher\" with argument \"\"'"
             :alf "osascript -e 'tell application \"Alfred 3\" to run trigger \"%s\" in workflow \"%s\" with argument \"\"'"}
 :simlayers {:vi-mode {:key :d}
             :vi-visual-mode {:key :v :condi :!vim-mode-disabled-application}
             :launch-mode {:key :w}
             :emacs-winmove-mode {:key :q :condi :Emacs}
             :tmux-winmove-mode {:key :q :condi :Terminals}
             :period-mode {:key :period :afterup {:set ["period-comma-mode" 0]}}
             :comma-mode {:key :comma}
             :alfred-mode {:key :z}
             :finder-alfred-mode {:key :z :condi :Finder}
             :browsers-alfred-mode {:key :z :condi :Browsers}}
 :main [{:des "Vi Mode [D as Trigger Key]"
         :rules [[:##j :down_arrow :vi-mode]
                 [:##k :up_arrow :vi-mode]
                 [:##h :left_arrow :vi-mode]
                 [:##l :right_arrow :vi-mode]
                 [:##b :!Oleft_arrow :vi-mode]
                 [:##w :!Oright_arrow :vi-mode]
                 [:##0 :!Ta :vi-mode]
                 [:##4 :!Te :vi-mode]]}
        {:des "Vi Visual Mode"
         :rules [[:##j :!Sdown_arrow :vi-visual-mode]
                 [:##k :!Sup_arrow :vi-visual-mode]
                 [:##h :!Sleft_arrow :vi-visual-mode]
                 [:##l :!Sright_arrow :vi-visual-mode]
                 [:##b :!SOleft_arrow :vi-visual-mode]
                 [:##w :!SOright_arrow :vi-visual-mode]
                 [:##0 :!SCleft_arrow :vi-visual-mode]
                 [:##4 :!SCright_arrow :vi-visual-mode]
                 [:##open_bracket :!SOup_arrow :vi-visual-mode]
                 [:##close_bracket :!SOdown_arrow :vi-visual-mode]]}
        {:des "launcher mode"
         :rules [[:j [:launch "Alacritty"] :launch-mode]
                 [:k [:launch "Emacs"] :launch-mode]
                 [:l [:launch "Chrome"] :launch-mode]
                 [:m [:launch "Mail"] :launch-mode]
                 [:v [:launch "WeChat"] :launch-mode]
                 [:q [:launch "KE"] :launch-mode]
                 [:f [:launch "Finder"] :launch-mode]
                 [:9 [:launch "PDFExpert"] :launch-mode]
                 [:comma [:launch "Safari"] :launch-mode]
                 [:period [:launch "Paw"] :launch-mode]
                 [:equal_sign [:launch "Textual"] :launch-mode]
                 [:8 [:launch "KEEvents"] :launch-mode]
                 [:b [:launch "BearyChat"] :launch-mode]
                 [:t [:launch "TG"] :launch-mode]]}
        {:des "caps_lock"
         :rules [[:##caps_lock :left_control nil {:alone :escape}]]}
        {:des "HHKB, FILCO MINILA Change left control to esc if alone"
         :rules [[:##left_control :left_control [:hhkb-bt :hhkb :hhkb-tmk :filco-minila] {:alone :escape}]]}
        {:des "Change left shift to switch input method"
         :rules [[:left_shift :left_shift nil {:alone :!TSz}]]}
        {:des "Change right_command to command-tab when used alone"
         :rules [[:right_command :right_command nil {:alone [:!Ctab]}]]}
        {:des "Change left_option to f18 when used alone"
         :rules [[:left_option :left_option nil {:alone [:f18]}]]}
        {:des "Quit application by pressing command-q twice" :rules [[:!C#Pq :!Cq ["command-q" 1]]
                                                                     [:!C#Pq ["command-q" 1] nil {:delayed {:invoked ["command-q" 0] :canceled ["commandq" 0]}}]]}
        {:des "Change right_option to switch to second recent application when used alone"
         :rules [[:right_option :right_option nil {:alone ["osascript ~/Dropbox/sync/Automator/switch-to-second-previous-app.scpt"]}]]}
        {:des "some simultaneous keys"
         :rules [[[:f :j] [:alf "helpSearch" "com.tedwise.menubarsearch"]]
                 [[:j :l] :f19]
                 [[:h :l] :f16]]}
        {:des "alfred mode"
         :rules [[:j [:alf "searchGithub" "nikivi.search-the-web"] :alfred-mode]
                 [:return_or_enter [:alf "web searches" "nikivi.web.searches"] :alfred-mode]
                 [:x [:alf "killProcess" "com.ngreenstein.alfred-process-killer"] :alfred-mode]
                 [:t [:alf "repos" "net.deanishe.alfred-git-repos"] :alfred-mode]
                 [:k [:alf "chromeHistory" "thomasupton.chrome-history"] :alfred-mode]
                 [:k [:alf "chromeHistory" "thomasupton.chrome-history"] :alfred-mode]
                 [:l :!CTslash :finder-alfred-mode]
                 [:l :!COi :browsers-alfred-mode]
                 [:y :!!grave_accent_and_tilde :alfred-mode]
                 [:o :!CTOS0 :alfred-mode]
                 [:0 [:alf "pasteBack" "yqrashawn.com.ewe"] :alfred-mode]
                 [:semicolon [:alf "localport" "in.fech.localport"] :alfred-mode]
                 [:q "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"Quick Macro 1\"'" :alfred-mode]
                 [:close_bracket :!CTOSclose_bracket :alfred-mode]]}
        {:des "q"
         :rules [[:h [:!Tx :7 :w :h] :emacs-winmove-mode]
                 [:j [:!Tx :7 :w :j] :emacs-winmove-mode]
                 [:k [:!Tx :7 :w :k] :emacs-winmove-mode]
                 [:l [:!Tx :7 :w :l] :emacs-winmove-mode]
                 [:v [:!Tx :3] :emacs-winmove-mode]
                 [:s [:!Tx :2] :emacs-winmove-mode]
                 [:m [:!Tx :1] :emacs-winmove-mode]
                 [:b [:!Tx :0] :emacs-winmove-mode]
                 [:h [:!Tq :h] :tmux-winmove-mode]
                 [:j [:!Tq :j] :tmux-winmove-mode]
                 [:k [:!Tq :k] :tmux-winmove-mode]
                 [:l [:!Tq :l] :tmux-winmove-mode]
                 [:v [:!Tq :v] :tmux-winmove-mode]
                 [:s [:!Tq :s] :tmux-winmove-mode]
                 [:m [:!Tq :z] :tmux-winmove-mode]
                 [:b [:!Tq :x] :tmux-winmove-mode]
                 [:c [:!Tq :c] :tmux-winmove-mode]
                 [:1 [:!Tq :1] :tmux-winmove-mode]
                 [:2 [:!Tq :2] :tmux-winmove-mode]
                 [:3 [:!Tq :3] :tmux-winmove-mode]
                 [:4 [:!Tq :4] :tmux-winmove-mode]
                 [:5 [:!Tq :5] :tmux-winmove-mode]]}
        {:des "chunkwm mode"
         :rules [[:tab ["tab-mode" 1] nil {:afterup ["tab-mode" 0] ["chunkwm-move-mode" 0] ["chunkwm-scale-mode" 0] :alone :tab}]
                 [:f ["chunkwm-move-mode" 1] ["tab-mode" 1] {:afterup ["chunkwm-move-mode" 0]}]
                 [:c ["chunkwm-scale-mode" 1] ["tab-mode" 1] {:afterup ["chunkwm-scale-mode" 0]}]
                 [:h "/usr/local/bin/chunkc tiling::window --warp west" ["chunkwm-move-mode" 1]]
                 [:j "/usr/local/bin/chunkc tiling::window --warp south" ["chunkwm-move-mode" 1]]
                 [:k "/usr/local/bin/chunkc tiling::window --warp north" ["chunkwm-move-mode" 1]]
                 [:l "/usr/local/bin/chunkc tiling::window --warp east" ["chunkwm-move-mode" 1]]
                 [:h "/usr/local/bin/chunkc tiling::window --use-temporary-ratio 0.03 --adjust-window-edge west" ["chunkwm-scale-mode" 1]]
                 [:j "/usr/local/bin/chunkc tiling::window --use-temporary-ratio 0.03 --adjust-window-edge south" ["chunkwm-scale-mode" 1]]
                 [:k "/usr/local/bin/chunkc tiling::window --use-temporary-ratio 0.03 --adjust-window-edge north" ["chunkwm-scale-mode" 1]]
                 [:l "/usr/local/bin/chunkc tiling::window --use-temporary-ratio 0.03 --adjust-window-edge east" ["chunkwm-scale-mode" 1]]
                 [:h "/usr/local/bin/chunkc tiling::window --focus west" ["tab-mode" 1]]
                 [:j "/usr/local/bin/chunkc tiling::window --focus south" ["tab-mode" 1]]
                 [:k "/usr/local/bin/chunkc tiling::window --focus north" ["tab-mode" 1]]
                 [:l "/usr/local/bin/chunkc tiling::window --focus east" ["tab-mode" 1]]
                 [:n "/usr/local/bin/chunkc tiling::window --focus next" ["tab-mode" 1]]
                 [:p "/usr/local/bin/chunkc tiling::window --focus prev" ["tab-mode" 1]]
                 [:r "/usr/local/bin/chunkc tiling::desktop --rotate 90" ["tab-mode" 1]]
                 [:spacebar "/usr/local/bin/chunkc tiling::window --toggle fullscreen" ["tab-mode" 1]]
                 [:a "/usr/local/bin/chunkc tiling::window --toggle float" ["tab-mode" 1]]
                 [:b "/usr/local/bin/chunkc tiling::desktop --layout bsp" ["tab-mode" 1]]
                 [:m "/usr/local/bin/chunkc tiling::desktop --layout monocle" ["tab-mode" 1]]
                 [:x "/usr/local/bin/chunkc tiling::window --close" ["tab-mode" 1]]
                 [:open_bracket "/usr/local/bin/chunkc tiling::window --send-to-monitor prev" ["tab-mode" 1]]
                 [:close_bracket "/usr/local/bin/chunkc tiling::window --send-to-monitor next" ["tab-mode" 1]]]}
        {:des "comma mode"
         :rules [[:a :open_bracket :comma-mode]
                 [:s :close_bracket :comma-mode]
                 [:d :!S7 :comma-mode]
                 [:f :!S8 :comma-mode]
                 [:q :!Shyphen :comma-mode]
                 [:w :!Sequal_sign :comma-mode]
                 [:e :!S5 :comma-mode]
                 [:r :!S6 :comma-mode]]}
        {:des "period mode"
         :rules [[:comma ["period-comma-mode" 1] :period-mode {:alone :comma :afterup ["period-comma-mode" 0]}]
                 [:a [:!Sgrave_accent_and_tilde :slash] :period-mode]
                 [:s [:period :!S8] :period-mode]
                 [:d :!S9 :period-mode]
                 [:f :!S0 :period-mode]
                 [:q :hyphen :period-mode]
                 [:w :equal_sign :period-mode]
                 [:e :!Sopen_bracket :period-mode]
                 [:r :!Sclose_bracket :period-mode]]}
        {:des "chrome debug mode"
         :rules [[:q :!Csemicolon [["tab-mode" 1] :Chromes]]
                 [:w :!CSsemicolon [["tab-mode" 1] :Chromes]]
                 [:e :!Cquote [["tab-mode" 1] :Chromes]]
                 [:r :!Cf8 [["tab-mode" 1] :Chromes]]
                 [:1 :f8 [["tab-mode" 1] :Chromes]]
                 [:2 "~/local/bin/cliclick kd:ctrl c:+0,+0 ku:ctrl t:continue kp:return" [["tab-mode" 1] :Chromes]]
                 [:3 :f9 [["tab-mode" 1] :Chromes]]]}
        {:des "Mouse button"
         :rules [[{:pkey :button5} :mission_control]
                 [{:pkey :button4} [{:pkey :button1} {:pkey :button1} :!!grave_accent_and_tilde]]]}
        {:des "Emacs key bindings [control+keys] (rev 10)"
         :rules [[:!T#Od :delete_forward :!emacs-mode-disable-app]
                 [:!T#Oh :delete_or_backspace :!emacs-mode-disable-app]
                 [:!T#SOw :!Odelete_or_backspace :!emacs-mode-disable-app]
                 [:!T#Oi :tab :!emacs-mode-disable-app]
                 [:!T#Oopen_bracket :escape :!emacs-mode-disable-app]
                 [:!T#OSm :return_or_enter :!emacs-mode-disable-app]
                 [:!T#OSb :left_arrow :!emacs-mode-disable-app]
                 [:!T#OSf :right_arrow :!emacs-mode-disable-app]
                 [:!T#OSb :left_arrow :!emacs-mode-disable-app]
                 [:!T#OSn :down_arrow :!emacs-mode-disable-app]
                 [:!T#OSp :up_arrow :!emacs-mode-disable-app]
                 [:!T#Sv :page_down :!emacs-mode-disable-app]
                 [:!T#Sy :!Cv :!Emacs]
                 [:!T#Sa :!Cleft_arrow :!emacs-mode-disable-app]
                 [:!T#Se :!Cright_arrow :!emacs-mode-disable-app]]}
        {:des "Anti-RSI App Switch (LCMD+Space to LCMD+Tab and reverse +LControl)."
         :rules [[:!Cspacebar :!Ctab]
                 [:!CTspacebar :!CStab]]}]
 :devices {:filco-minila [{:product_id 34050 :vendor_id 2652}]
           :hhkb-tmk [{:vendor_id 65261 :product_id 51966}]
           :hhkb-bt [{:vendor_id 1278 :product_id 514}]
           :hhkb [{:vendor_id 2131 :product_id 256}]}
 :applications {:emacs-mode-disable-app [ "^org\\.gnu\\.Emacs$",
                                         "^org\\.gnu\\.AquamacsEmacs$",
                                         "^org\\.gnu\\.Aquamacs$",
                                         "^org\\.pqrs\\.unknownapp.conkeror$",
                                         "^com\\.microsoft\\.rdc$",
                                         "^com\\.microsoft\\.rdc\\.mac$",
                                         "^com\\.microsoft\\.rdc\\.macos$",
                                         "^com\\.microsoft\\.rdc\\.osx\\.beta$",
                                         "^net\\.sf\\.cord$",
                                         "^com\\.thinomenon\\.RemoteDesktopConnection$",
                                         "^com\\.itap-mobile\\.qmote$",
                                         "^com\\.nulana\\.remotixmac$",
                                         "^com\\.p5sys\\.jump\\.mac\\.viewer$",
                                         "^com\\.p5sys\\.jump\\.mac\\.viewer\\.web$",
                                         "^com\\.teamviewer\\.TeamViewer$",
                                         "^com\\.vmware\\.horizon$",
                                         "^com\\.2X\\.Client\\.Mac$",
                                         "^com\\.apple\\.Terminal$",
                                         "^com\\.googlecode\\.iterm2$",
                                         "^co\\.zeit\\.hyperterm$",
                                         "^co\\.zeit\\.hyper$",
                                         "^io\\.alacritty$",
                                         "^net\\.kovidgoyal\\.kitty$",
                                         "^org\\.vim\\.",
                                         "^com\\.qvacua\\.VimR$",
                                         "^com\\.vmware\\.fusion$",
                                         "^com\\.vmware\\.horizon$",
                                         "^com\\.vmware\\.view$",
                                         "^com\\.parallels\\.desktop$",
                                         "^com\\.parallels\\.vm$",
                                         "^com\\.parallels\\.desktop\\.console$",
                                         "^org\\.virtualbox\\.app\\.VirtualBoxVM$",
                                         "^com\\.vmware\\.proxyApp\\.",
                                         "^com\\.parallels\\.winapp\\.",
                                         "^org\\.x\\.X11$",
                                         "^com\\.apple\\.x11$",
                                         "^org\\.macosforge\\.xquartz\\.X11$",
                                         "^org\\.macports\\.X11$",
                                         "^com\\.sublimetext\\.",
                                         "^com\\.microsoft\\.VSCode$"]
                :Emacs ["^org\\.gnu\\.Emacs$"
                        "^org\\.gnu\\.AquamacsEmacs$"
                        "^org\\.gnu\\.Aquamacs$"]
                :Chromes ["^com\\.google\\.Chrome$", "^org\\.chromium\\.Chromium$", "^com\\.google\\.Chrome\\.canary$"]
                :Terminals ["^com\\.apple\\.Terminal$"
                            "^com\\.googlecode\\.iterm2$"
                            "^co\\.zeit\\.hyperterm$"
                            "^co\\.zeit\\.hyper$"
                            "^io\\.alacritty$"
                            "^net\\.kovidgoyal\\.kitty$"]
                :vim-mode-disabled-application ["^com\\.apple\\.Terminal$"
                                                "^com\\.googlecode\\.iterm2$"
                                                "^co\\.zeit\\.hyperterm$"
                                                "^co\\.zeit\\.hyper$"
                                                "^io\\.alacritty$"
                                                "^net\\.kovidgoyal\\.kitty$"
                                                "^org\\.vim\\."
                                                "^com\\.qvacua\\.VimR$"]
                :Finder ["^com\\.apple\\.finder$"]
                :Browsers ["^org\\.mozilla\\.firefox$"
                           "^com\\.google\\.Chrome$"
                           "^com\\.google\\.Chrome\\.canary$"
                           "^com\\.apple\\.Safari$"]}}
